.pinch-to-zoom {
  width: 100% !important;
  height: 100%;
  margin: 0 !important;
  padding: 0.5rem 1rem;

  .pinch-to-zoom__close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 3.125rem;
    font-weight: 300;
    line-height: 40%;
    color: #000;
  }
}
